@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    margin: 0;
    padding: 0;
    margin-top: 0;
    background-color: rgb(253, 240, 242);
}
h1{
    text-align: center;
    font-size: 70px;
    color: darkmagenta;
    font-family: "Ubuntu", sans-serif;;
}
.container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.inner{
    display: grid;
  
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    margin-right: 20px;
}
.box{
    border: 0.5px solid rgb(220, 41, 173);
    display: flex;
    justify-content: center;
    padding-top: 2vw;
}
.box:hover{
    background-color: rgb(232, 106, 131);
}
.result{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
.out{
    margin-top: 100px;
    font-size: 50px;
    margin-left: 0px;
    color: darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bt-0{
    border-top: none;
}
.br-0{
    border-left-width: 0px;
}
.bl-0{
    border-right-width: 0;
}
.bb-0{
    border-bottom: none;
}
.inside{
    text-align: center;
    font-size: 60px;
    color: brown;
}
button{
    width: 100px;
    height: 50px;
    margin-top: 100px;
    margin-left: 50px;
    background-color: rgb(208, 53, 146);
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: rgb(216, 83, 83);
}